
/* styles.css*/
    body {
    background-color: #e0e0e0;
}
/* 灰色风格背景*/
    .container {
    max-width: 960px;
    margin: 0 auto;
    padding-top: 64px;
}
.tag-chips .chip {
    margin-right: 5px;
}
nav { 
    position: fixed; 
    top: 0; 
    width: 100%; 
    z-index: 1000; 
    background-color: #424242; /* 深灰色背景 */
}
.hr-separator {
    margin-top: 20px;
    border: none;
    border-bottom: 1px solid #ccc;
}

.description {
    text-align: center;
    color: grey;
    font-size: 0.9rem; /* 较小的字体 */
}